<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/VarFontAssistant.py</string>
			<key>preferredName</key>
			<string>VarFont Assistant</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/VarGlyphAssistant.py</string>
			<key>preferredName</key>
			<string>VarGlyph Assistant</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/Measurements.py</string>
			<key>preferredName</key>
			<string>Measurements</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/GlyphValidator.py</string>
			<key>preferredName</key>
			<string>GlyphValidator</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/SourceValidator.py</string>
			<key>preferredName</key>
			<string>SourceValidator</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/GlyphSetProofer.py</string>
			<key>preferredName</key>
			<string>GlyphSetProofer</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/TempEdit.py</string>
			<key>preferredName</key>
			<string>TempEdit</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/TempGlyphs.py</string>
			<key>preferredName</key>
			<string>TempGlyphs</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>variableValues/dialogs/GlyphGauge.py</string>
			<key>preferredName</key>
			<string>GlyphGauge</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Gustavo Ferreira</string>
	<key>developerURL</key>
	<string>http://hipertipo.com/</string>
	<key>expireDate</key>
	<string></string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>start.py</string>
	<key>name</key>
	<string>VariableValues</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>4</string>
	<key>timeStamp</key>
	<real>1719248807.3106592</real>
	<key>version</key>
	<string>0.2.0</string>
</dict>
</plist>
